<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Questionnaire</title>
</head>
<h1 align="center">
	This is just a place holder for now...
</h1>
<body>
<div class="container" id="Question" align="center">
	<h2>This is where the question will go...</h2>
</div>
<div class="container" id="Timer" align="center">
	CountDown Timer...
</div>
<table cellspacing="15" cellpadding="25" border="0px">
  <tbody>
    <tr> 
      <td><button class="ButtonsClass" id="option1" (click)="answer(1)" >Option 1</button></td>
      <td><button Class="ButtonsClass" id="option2" (click)="answer(2)">Option 2</button></td>
    </tr>
    <tr>
      <td><button Class="ButtonsClass" id="option3" (click)="answer(3)">Option 3</button></td>
      <td><button Class="ButtonsClass" id="option4" (click)="answer(4)">Option 4</button></td>
    </tr>
  </tbody>
</table>
	<h3 align="center">
		Number of people who have answered: 10/20.
	</h3>

	
</body>
</html>
