<html>
<head>

</head>
<body>
 <header>
       <h1>Quiz Master</h1>
       <nav>

	       	<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
	        <div class="fb-login-button" data-width="40" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>


	        <!-- TODO : Google sign not currently working. Need to figure out how to get ths running.-->
	        <div class="g-signin2" data-onsuccess="onSignIn"></div>   
      </nav>
    </header>
    
    <section id="middle_bg">
      <div class="container">
        <h1>Early life</h1>
        <p>Insert lorem and press the tab key, this will insert a Lorem Ipsum paragraph. lorem200 + tab will add 200 words. Lorem Ipsum generator:Insert lorem and press the tab key, this will insert a Lorem Ipsum paragraph. lorem200 + tab will add 200 words. Lorem Ipsum generator:Insert lorem and press the tab key, this will insert a Lorem Ipsum paragraph. lorem200 + tab will add 200 words. Lorem Ipsum generator:</p>
        
      </div>
    </section>
    
    
    
    <section id="Square_box">
      <div class="container">
        <div class="box">
          <img src="https://static.pexels.com/photos/33972/pexels-photo.jpg">
          <h3>First Chapter</h3>
          <p>Insert lorem and press the tab key, this will insert a Lorem Ipsum paragraph. lorem200 + tab will add 200 words. Lorem Ipsum generator:</p>
        </div>
        <div class="box">
          <img src="https://static.pexels.com/photos/403883/pexels-photo-403883.jpeg">
          <h3>Second Chapter</h3>
          <p>Insert lorem and press the tab key, this will insert a Lorem Ipsum paragraph. lorem200 + tab will add 200 words. Lorem Ipsum generator:</p>
        </div>
        <div class="box">
          <img src="https://static.pexels.com/photos/405237/pexels-photo-405237.jpeg">
          <h3>Third Chapter</h3>
          <p>Insert lorem and press the tab key, this will insert a Lorem Ipsum paragraph. lorem200 + tab will add 200 words. Lorem Ipsum generator:

</p>
        </div>
      </div>
    </section>
    
    
    <section id="contact_email">
      <div class="container">
        <h1>Subscribe to my web site!</h1>
        <form>
          <input type="email" placeholder="Enter your email">
          <button type="submit" class="email_button">Subscribe</button>
        </form>
      </div>
    </section>
    
    
    <footer>
      
    </footer>	
</body>
</html>